<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <body>
  
    <h1 id = 'header1'><div id='headerDiv'>facebook</div></h1>
  <h2><%=title%></h2>
                <div id = "mainDiv">
                                <p id = "p1">Welcome to Login Page</p>
                                <form method="post"  action="login">
                                                <input type="text" name="email"  id="userTxt" class="textbox" placeholder="?"><br>
                                                <input type="password" name="password"  id="pwdTxt" class="textbox" placeholder="?"><br>
                                                <input type ="submit" value="Login" id="loginButton"/>
                                                <label id = "label">Sign Up for a free account</label>
 
                      </form>
                </div>
 
  </body>
</html>