<!DOCTYPE html>
<html ng-app="testApp">
<head>
<link rel="icon"
	href="images/uber_icon.ico"
	type="image/x-icon" />
<script src="/angular/jquery.mini.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular/angular-animate.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascript/test.js"></script>
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
</head>
<body ng-controller="testCtrl">
Test Page
</body>

</html>